/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// /////// ////// ////// ////// ////// ///// ///// ///

body {
	background: #26335D;
}

a {
	text-decoration: none;
	list-style: none;
}

img {
	width: 70%;
}

p {
	font-family: regular;
}

h2 {
	font-family: bold;
}

// my header ////
header {
	.header-inner {
		.toggle-menu {
			background: transparent;
			position: absolute;
			right: 10%;
			width: 40px;
			height: 100%;
			z-index: 4;
			cursor: pointer;
			opacity: 0;
			margin: 18px -10px 0 0;
		}

		.menu {
			position: absolute;
			max-height: 0;
			overflow: hidden;
			background: rgb(252, 252, 252);
			width: 100%;
			top: 7%;
			right: 0;
			line-height: 30px;
			transition: .7s;

			li {
				width: 100%;

				a {
					font-family: bold;
					padding: 20px;
					display: block;
					font-size: 20px;
					transition: all .7s ease;
				}

				a:hover {
					background: yellow;

				}
			}

			.buttons {
				padding: 20px;

				button {
					font-family: bold;
					height: 50px;
					background: #26335D;
					margin-left: 30px;
				}
			}
		}

		a {
			font-family: bold;
			font-size: 15px;
			color: #26335D !important;
		}

		.hamburger {
			position: relative;
			right: 5%;
			width: 30px;
			height: 4px;
			background: #26335D;
			border-radius: 10px;
			cursor: pointer;
			z-index: 2;
			transition: 0.3s;
		}

		// .hamburger:hover~.menu{
		// 	right: 0;
		// 	box-shadow: -20px 0 40px green; 
		// }
		// .hamburger:hover~.menu{
		// 	right: 0;
		// 	box-shadow: -20px 0 40px green; 
		// }
		.hamburger:before,
		.hamburger:after {
			content: "";
			position: absolute;
			height: 4px;
			right: 0;
			background: #26335D;
			transition: 0.3s;
			border-radius: 10px;
		}

		.hamburger:before {
			top: -10px;
			width: 20px;
		}

		.hamburger:after {
			width: 20px;
			top: 10px;
		}


	}

	@media(min-width:768px) {
		.header-inner {
			.logo {
				font-size: 25px;
			}

			gap: 5%;

			.menu {
				gap: 20%;
				padding: 0;
				top: 0;
				width: 100%;
				position: relative;
				background: none;
				max-height: unset;

				ul {
					gap: 5%;

					li {
						a {
							padding: 0;
							font-size: 14px;
						}
					}
				}
				.buttons {
					padding: 0;
				}
			}

		}
	}

	@media(min-width:992px) {
		.header-inner {
			.menu {
				gap: 35%;

				ul {
					gap: 8%;

					li {
						a {
							font-size: 18px;
						}
					}
				}

				.buttons {
					button {
                        margin: 0;
						height: 50px;
						width: 100%;
						margin-left: 30px;
					}
				}
			}
		}
	}

	@media(min-width:1200px) {
		.header-inner {
			.menu {
				gap: 48%;
				ul{
					li{
						a{
							font-size: 13px;
						}
					}
				}
			}
		}
	}
}

// my header ends ////

// my hero //////
.hero {
	background-image: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.592)), url(../images/features-11-video-thumb.png);
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.hero-inner {
		.my-row {
			.par1 {
				font-size: 15px;
				font-family: bold;
			}

			h1{
				font-family: bold;
			}
			.buttons{
				.btn1{
					background: #26335D;
					border: none;
				}
			}
		}
	}

	@media(min-width:992px) {
		.par1 {
			font-size: 20px;
		}
		
	}
	@media(min-width:1200px) {
		
		.hero-inner {
			.my-row {
				.par1 {
				    font-size: 16px;
				}
	
				h1 {
					font-size: 55px;
					line-height: 80px;
				}
				.par2{
					font-size: 19px;
					line-height: 30px;
				}
				.buttons{
					.btn{
						font-family: bold;
						font-size: 12px;
						padding: 3% 6%;
						height: 50px;
						width: 35%;
					}
					.btn2{
						width: 28%;
						padding: 1% 6%;
					}
				}
			}
		}

	}
}

// my hero ends //

// my .experts//
.experts {
	img {
		width: 100%;
	}

	.experts-inner {
		.div {
			background: rgba(251, 91, 91, 0.865) !important;
			border: none;
			height: 10%;
			width: 20%;
			padding: 1%;
		}

		p {
			text-align: left;
			line-height: 20px;
		}

		a {
			font-family: bold;
			text-decoration: none;
			color: #8d5cf682;
		}
	}

	@media(min-width:768px) {
		.experts-inner {
			.div {
				height: 1%;
				width: 40%;
				padding: 1%;
				margin-top: 34%;
			}

			h2 {
				font-size: 30px;
			}

			p {
				font-family: medium;
				color: #ffffffc3;
			}

			a {

				color: #8D5CF6;
				font-size: 15px;
			}
		}
	}

	@media(min-width:992px) {
		gap: 5%;
		.experts-inner {
			.div {
				width: 30%;
				margin-top: 20%;
			}

			h2 {
				font-size: 50px;
			}

			p {
				font-size: 18px;
			}

			a {
				color: #8D5CF6;
			}

		}

	}

	@media(min-width:1200px) {
		padding-top: 10%;
		.experts-inner {

			img {
				width: 44%;
				padding-left: 10%
			}

			gap: 15%;
			margin-bottom: 8%;

			.experts-inners {
				.div {
					width: 30%;
					padding: 1%;
					height: 7px;
					margin-top: 33%;
				}

				h2 {
					font-size: 35px;
				}

				p {
					font-size: 14px;
					color: #ffffffe4;
					
				}

				a {
					font-size: 13px;
					color: #8D5CF6;
				}
			}
		}

	}
}

// my .experts ends!//

// my .products//
.products {

	.video {
		background: linear-gradient(#cecece05, #e2e2e207, #000000), url(../images/features-11-video-thumb.png);
		display: flex;
		justify-content: center;
		align-items: center;
		height: 400px;
		border-radius: 5%;

		.icon {
			margin-right: 50%;
			background-color: #8D5CF6;
			border-radius: 100%;
			font-size: 25px;
			padding: 30px 35px;

		}
	}

	.products-inner {
		.div {
			background: rgba(251, 91, 91, 0.865) !important;
			border: none;
			height: 10%;
			width: 20%;
			padding: 1%;
		}

		p {
			text-align: left;

		}

		a {
			font-family: bold;
			text-decoration: none;
			color: #8D5CF6;
			font-size: 12px;
		}
	}

	@media(min-width:768px) {
		.products-inner {
			gap: 10%;
            
			.div {
				height: 1%;
				width: 35%;
				padding: 1%;
				margin-top: 30%;
			}

			h2 {
				font-size: 25px;
			}

			p {
				font-family: medium;
				color: #ffffffc3;
				padding-bottom: 8%;
			}

			a {
				font-size: 12px;
				font-size: 15px;
			}

		}

	}

	@media(min-width:992px) {
		gap: 5%;

		.products-inner {
			.div {
				width: 30%;
				margin-top: 10%;
			}

			h2 {
				font-size: 50px;
			}

			p {
				font-size: 18px;
			}
		}

	}

	@media(min-width:1200px) {
		padding: 5%;
        padding-bottom: 10%;
		.products-inner {

             .video{
                width: 48%;
			 }
			.div {
				width: 21%;
				padding: 0%;
				height: 6px;
				margin-top: 12%;
			}

			h2 {
				font-size: 33px;
			}

			p {
				line-height: 20px;
				font-size: 14px;
				font-weight: 600;
				padding-right: 23%;
				color: #ffffffe4;
			}

			a {
				font-size: 13px;
			}

			.video {
				height: 350px;

				.icon {

					padding: 30px 35px;

				}
			}

		}

	}
}

// my .products ends//

// my pricing //
.pricing {
     
	a {
		color: #8D5CF6;
		text-decoration: none;
		font-family: bold;
		font-size: 11px;

	}

	.colum {
		margin-top: 15%;

		.my-card-block {

			border: none;

			.b-pricing {
				position: absolute;
				top: 3%;
				left: 2%;
			}

			.card-title {
				color: #9000ff;
			}

			.card-text-1 {
				color: #484848;
				font-family: bold;
			}

			.star {
				background: rgba(2, 2, 120, 0.809);
				border-radius: 10px;
				position: absolute;
				right: 5%;
				bottom: 42%;

				i {
					color: #ffd700;
					font-size: 10px;
				}

				p {
					font-size: 8px;
					font-family: medium;
				}
			}

			.p3 {
				color: #484848;
			}

			.b {
				border-radius: 20px;
				border-color: #8D5CF6;
				border-style: solid;
				text-align: left;
				padding: 3%;
				color: #8D5CF6;
				margin: 5% 0 8% 5%;
				background: transparent;
			}

			.card-text {
				color: #797979;
				font-family: light;
			}

			.icons {
				position: absolute;
				top: 40%;
				left: 30%;

				.icon1 {
					font-size: 18px;
					border-radius: 50px;
					padding: 10px;
				}

				.icon2 {
					font-size: 18px;
					border-radius: 50px;
					padding: 10px;
					margin: 0 5%;
				}

				.icon3 {
					font-size: 16px;
					border-radius: 50px;
					padding: 12px;
				}

			}

			.pars {
				gap: 1%;

				.par4 {
					color: #797979;
					font-family: bold;
				}

				.par5 {
					color: #EE7850;
					font-family: bold;
				}
			}
		}
	}

	@media(min-width:568px) {
		.colum {
			.my-card-block {
				.icons {
					top: 50%;
					left: 39%;
				}

				.star {
					bottom: 33%;
				}
			}
		}
	}

	@media(min-width:768px) {
		.colum {
			margin-top: 5%;

			.my-card-block {
				.icons {
					top: 30%;
					left: 25%;

					.icon1 {
						font-size: 11px;
					}

					.icon2 {
						font-size: 11px;
					}

					.icon3 {
						font-size: 11px;
					}
				}

				.star {
					right: 5%;
					bottom: 48%;
				}
			}
		}
	}

	@media(min-width:992px) {
		.colum {
			.my-card-block {
				.icons {
					top: 40%;
					left: 30%;
				}

				.star {
					bottom: 42%;
				}
			}
		}
	}

	@media(min-width:1200px) {
        padding-bottom: 20%;
		h2 {
			font-size: 33px;
		}

		p {
			line-height: 20px;
			font-size: 12px;
			font-weight: 600;
			color: #ffffffe4;
		}

		.colum {
			.my-card-block {
				.icons {
					top: 42%;
					left: 32%;
				}

				.star {
					border-radius: 15px;

					width: 15%;
					right: 5%;
					bottom: 40%;

					p {
						font-size: 11px;
					}

					a {
						i {
							font-size: 11px;
							padding-top: 30%;
						}
					}
				}

				.pars {
					gap: 1%;

					.par4 {
						font-size: 14px;
					}

					.par5 {
						font-size: 14px;
					}
				}
			}
		}
	}
}

// my pricing ends ////////

// my testimonal //////
.testimonal {
	a {
		color: #8D5CF6;
		text-decoration: none;
		font-family: bold;
		font-size: 11px;

	}

	.my-card-block {
		.text1 {
			color: #9000ff;
		}

		.text2 {
			color: #484848;
			font-family: thin;
		}


	}

	@media(min-width:768px) {
		.my-card-block {
			padding-right: 0%;
			padding-left: 0%;
		}

	}

	@media(min-width:1200px) {
		padding-bottom: 20%;
		h2 {
			font-size: 33px;
		}

		p {
			line-height: 20px;
			font-size: 12px;
			font-weight: 600;

			color: #ffffffe4;
		}

		a {
			font-size: 13px;
		}

		.my-card {
			.div {
				.paragraphs {
					.text3 {
						font-size: 1px;
					}

					.text4 {
						font-size: 1px;
					}
				}
			}
		}



	}
}

// my testimonal ends/////

// my faq ////
.faq {
	p {
		line-height: 20px;
	}
	i{
		color: #8D5CF6;
	}
	.card-title {
		font-family: bold;
		line-height: 20px;
		color: #484848;
		padding: 0 3%;
	}

	.card-text {
		font-family: bold;
		line-height: 20px;
		padding: 0 3%;
	}

	@media(min-width:1200px) {
		padding-bottom: 4%;
        i{
			margin-left: 9%;
		}
		h2 {
			font-size: 35px;
		}

		p {
			font-size: 13px;
		}
		.card-title {
			font-size: 15px;
			padding:0 8% 0 5% ;
		}
	
		.card-text {
			font-size: 13px;
			padding:0 10% 0 5% ;
		}

	}
}

// my faq ends ////

// my news section ///
.news {

	.par1 {
		color: #8D5CF6;
	}

	form {
		.f-news {
			border-right: none;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.b-news {
			margin-left: 0;
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	}

	@media(min-width:1200px) {
		padding-top: 7%;

		h2 {
			font-size: 35px;
		}

		p {
			font-size: 13px;
		}
		.f-news{
			height: 53px;
		}
		.b-news{
			width: 11%;
		}
	}
}

// my news section ends ////

// my contact section /////
.contact {
	padding: 0;
	h3{
		font-family: bold;
	}
	p {
		font-size: 14px;
	}

	a {
		padding-bottom: 2%;
		gap: 2%;

		span {
			font-size: 14px;
		}

		i {
			font-size: 20px;
		}
	}

	@media(min-width:768px) {
		.div {
			gap: 5%;
		}
	}

	@media(min-width:1200px) {

		.div {
			padding-top: 7%;
			gap: 7%;
		}
	}


}

// contact ends /////

//footer //////
footer {
	gap: 1%;

	p {
		text-align: left;
		font-size: 11px;
	}

	.icons {
		gap: 2%;
		font-size: 20px;
		color: #8D5CF6;
	}

	@media(min-width:568px) {

		p {
			font-size: 14px;
			margin-left: 10%;
		}

		.icons {
			gap: 2%;
		}

		gap: 25%;
	}

	@media(min-width:768px) {

		p {
			font-size: 14px;
			margin-left: 10%;
		}

		.icons {
			gap: 2%;
		}

		gap: 25%;
	}

	@media(min-width:992px) {
		p {
			font-size: 14px;
		}

		.icons {
			gap: 10%;
		}

		gap: 45%;
	}
}

// footer ends!!!!/////


header {
	.header-inner {
		.open {
			background-color: transparent;

			&:before {
				top: 0;
				transform: rotate(45deg);
				width: 100%;
			}

			&:after {
				top: 0;
				transform: rotate(-45deg);
				width: 100%;
			}
		}
	}

	.menu.dropped {
		max-height: 800px;
		padding: 5% 0;
	}
}