@font-face{
    font-family: bold;
    src: url(./static/Montserrat-Bold.ttf);
}
@font-face{
    font-family: light;
    src: url(./static/Montserrat-Light.ttf);
}
@font-face{
    font-family: medium;
    src: url(./static/Montserrat-Medium.ttf);
}
@font-face{
    font-family: regular;
    src: url(./static/Montserrat-Regular.ttf);
}
@font-face{
    font-family: thin;
    src: url(./static/Montserrat-Thin.ttf);
}
@font-face{
    font-family: blacka;
    src: url(./static/Montserrat-Black.ttf);
}